body{
	margin: 0;
	font-family: "Helvetica Neue";
}

div{
	padding: 100px;
	background-color: #FFEEFB;
}

.bg-image{
	display: block;
	height: 600px;
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/2a/af/56/2aaf56d769bac8448bce1d48cc9bc40d.jpg');

	background-size: cover;
	background-position: 50% 50%;
	/*be exactly in the middle*/
	/*this makes the background stick in place*/
	background-attachment: fixed;
}

/*__________________MENU CSS BELOW____________________*/

h1 {
  font-size: 200px;
  text-align: center;
}

/* remove bullets, remove default space */ 
.menu { list-style-type: none; 
	padding: 0; 
	width: 900px; 
	margin:0 auto;
	background-color: pink;

 }

/* make the list items look more like buttons */

.menu li { 
	/*border: 1px solid black*/
	width: 100px;
	display: inline-block;
	margin: 10px;
	
	text-align: center;
 }


/* style the the visited links */
.menu a{ 
	/*turns off the underline */
text-decoration: none;
color: black;

display: block;
width: 100%;
 }

/* make a hover effect... */
/*pseudo class, an option*/
.menu a:hover { background-color: lightgrey;
	color: green;
}

.menu a:visited {color: purple;}

/*